.App {
  text-align: center;
}

body {
  background-color: #282c34;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5rem;
}

h3 {
  background: lightsteelblue;
  padding: 1.6rem;
  border-radius: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
